<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>New Post</h2>
    <form action="/posts" method="post" class="page">
        <input type="text" placeholder="Enter Username" name="username"><br><br>
        <textarea name="content" id="content" placeholder="Write your post here"></textarea><br>
        <button class="submit">Submit Post</button>    
    </form>
</body>
</html>
